

.App {

    margin: auto;
 width: 60%;
    height: 60%;
    text-align: center;
    background-image: url("./assets/background.jpg");

}

.myForm{
    width: 100%;
    border-radius: 15px;
    padding: 20px;

}

.formField{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: block;
    border: 1px  black;
    border-radius: 15px;
    box-sizing: border-box;

}
.myButton{
    width: 50%;
    background-color: dodgerblue;
    color: black;
    padding: 14px 20px;
    margin: 8px 0;
    border-radius: 20px;
    cursor: pointer;

}

.myList{

    list-style: none;

}

.myListButton{
    display: inline-block;
    border-radius: 7px;
    margin: 3px 5px;
}